/* iPhone 1st gen, iPhone 3G, iPhone 3GS, iPhone 4, iPhone 4S */
@media screen and (min-height: 480px) {
    p {
        position: absolute;
        top: 100px;
        left: 30px;
    }

    .call-to-act {
        position: absolute;
        top: 290px;
        left: 70px;
    }

    .footer-text {
        position: absolute;
        top: 440px;
    }
}

/* iPhone 5, iPhone 5S, iPhone 5C, iPhone SE 1st gen */
@media screen and (min-height: 568px) {
    p {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    .call-to-act {
        position: absolute;
        top: 350px;
        left: 65px;
    }

    .footer-text {
        position: absolute;
        top: 530px;
    }
}

/* iPhone 6, iPhone 7, iPhone 8, iPhone SE 2nd gen, iPhone SE 3rd gen */
@media screen and (min-height: 667px) {
    p {
        position: absolute;
        top: 170px;
        left: 40px;
        font-size: 30px;
    }

    .call-to-act {
        position: absolute;
        top: 420px;
        left: 85px;
        width: 200px;
        height: 80px;
    }

    .footer-text {
        position: absolute;
        top: 630px;
        left: 70px;
    }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8 Plus */
@media screen and (min-height: 736px) {
    p {
        position: absolute;
        top: 190px;
        left: 50px;
        font-size: 33px;
    }

    .call-to-act {
        position: absolute;
        top: 490px;
        left: 90px;
        width: 230px;
        height: 90px;
    }

    .footer-text {
        position: absolute;
        top: 700px;
        left: 80px;
    }
}

/* iPhone X, iPhone XS, iPhone 11 Pro, iPhone 12 mini, iPhone 13 mini */
@media screen and (min-height: 812px) {
    p {
        position: absolute;
        top: 220px;
        left: 40px;
        font-size: 31px;
    }

    .call-to-act {
        position: absolute;
        top: 490px;
        left: 70px;
        width: 230px;
        height: 90px;
    }

    .footer-text {
        position: absolute;
        top: 780px;
        left: 70px;
    }
}

/* iPhone XS Max, iPhone XR,iPhone 11, iPhone 11 Pro Max */
@media screen and (min-height: 896px) {
    p {
        position: absolute;
        top: 250px;
        left: 40px;
        font-size: 35px;
    }

    .call-to-act {
        position: absolute;
        top: 550px;
        left: 90px;
        width: 230px;
        height: 90px;
    }

    .footer-text {
        position: absolute;
        top: 860px;
        left: 90px;
    }
}

/* iPhone 12 Pro, iPhone 12, iPhone 13, iPhone 14 */
@media screen and (min-height: 844px) {
    p {
        position: absolute;
        top: 240px;
        left: 40px;
        font-size: 33px;
    }

    .call-to-act {
        position: absolute;
        top: 550px;
        left: 80px;
        width: 230px;
        height: 90px;
    }

    .footer-text {
        position: absolute;
        top: 810px;
        left: 80px;
    }
}

/* iPhone 12 Pro Max, iPhone 13 Pro Max, iPhone 14 Plus */
@media screen and (min-height: 926px) {
    p {
        position: absolute;
        top: 250px;
        left: 30px;
        font-size: 37px;
    }

    .call-to-act {
        position: absolute;
        top: 560px;
        left: 90px;
        width: 250px;
        height: 110px;
    }

    .footer-text {
        position: absolute;
        top: 890px;
        left: 90px;
    }
}

/* iPhone 12 Pro Max, iPhone 13 Pro Max, iPhone 14 Plus */
@media screen and (min-height: 926px) {
    p {
        position: absolute;
        top: 250px;
        left: 30px;
        font-size: 37px;
    }

    .call-to-act {
        position: absolute;
        top: 560px;
        left: 90px;
        width: 250px;
        height: 110px;
    }

    .footer-text {
        position: absolute;
        top: 890px;
        left: 90px;
    }
}

/* iPhone 14 Pro,  iPhone 15,  iPhone 15 Pro */
@media screen and (min-height: 852px) {
    p {
        position: absolute;
        top: 250px;
        left: 35px;
        font-size: 33px;
    }

    .call-to-act {
        position: absolute;
        top: 560px;
        left: 80px;
    }

    .footer-text {
        position: absolute;
        top: 820px;
        left: 80px;
    }
}

/* iPhone 14 Pro Max, iPhone 15 Plus, iPhone 15 Pro Max */
@media screen and (min-height: 932px) {
    p {
        position: absolute;
        top: 250px;
        left: 30px;
        font-size: 38px;
    }

    .call-to-act {
        position: absolute;
        top: 560px;
        left: 90px;
    }

    .footer-text {
        position: absolute;
        top: 900px;
        left: 90px;
    }
}