@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
}

#nav {
    background-color: rgba(255, 0, 184, 1);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cacaca;
}

nav.navigation {
    display: none;
}

nav.navigation.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #FF00B8;
    z-index: 2;
}

nav.navigation.active a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.logo a img {
    width: 30vh;
}

img.menu.hide {
    display: none;
}

img.close {
    display: none;
    z-index: 2;
}

img.close.show {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
}

/* GOOGLE MAPS API */
#map {
    height: 150px;
    width: 80%;
    position: absolute;
    left: 30px;
    top: 100px;
    z-index: -1;
}

/* CONTENT SECTION */
p {
    position: absolute;
    top: 150px;
    left: 35px;
    color: #000;
    font-weight: 300;
    font-size: 25px;
    z-index: 1;
}

.bold-pink {
    font-weight: bold;
    color: #FF00B8;
    z-index: 1;
}

  .semibold-white {
    font-weight: 600;
    color: #000;
    z-index: 1;
}

  .call-to-act {
    position: absolute;
    top: 350px;
    left: 70px;
    width: 200px;
    height: 90px;
    background-color: #FF00B8;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    border: none;
    z-index: 1;
}

/* Footer */
.footer-text{
    position: absolute;
    top: 440px;
    left: 40px;
    font-size: 15px;
}


/* Sign In */
/* Center the content vertically and horizontally */
#signup-form {
    position: absolute;
    left: 30px;
    top: 100px;
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style labels */
label {
    margin-bottom: 5px; /* Add space between labels and inputs */
    display: block;
}

/* Style input fields */
input {
    width: 250px; /* Adjust the width as needed */
    padding: 8px;
    margin-bottom: 10px; /* Add space between input fields */
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Center the content horizontally for buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
    padding-bottom: 20px;
}

/* Style for buttons */
.signup-btn,
.login-btn {
    padding: 10px 20px;
    margin: 0 10px; /* Adjust the spacing between buttons */
    border-radius: 5px;
    border: none;
    background-color: #FF00B8;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

/* Dashboard */
#usernameDisplay {
    display: flex;
    position: absolute;
    top: 100px;
    left: 15px;
    font-size: 18px;
    font-weight: 600;
}

.profile-pic {
    position: absolute;
    left: 105px;
    top: 150px;
    width: 20vh;
    height: 20vh;
    border-radius: 50px;
}

 /* CSS for the card */
 .card1 {
    position: absolute;
    left: 20px;
    top: 170px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 125px;
  }
  
  .card1 img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }

   /* CSS for the card */
 .card2 {
    position: absolute;
    left: 160px;
    top: 170px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 125px;
  }

  .card2 img {
    width: 100%;
    height: auto;
    border-radius: 6px;
  }